<div class="">
    <div class="">
        <h1>bubble Chart</h1>
        <canvas id="bubble-chart"></canvas>
    </div>

    <div class="">
        <h1>Scatter Chart</h1>
        <canvas id="Scatter-chart"></canvas>
    </div>

    <div class="">
        <h1>PieChart</h1>
        <canvas id="pie-chart"></canvas>
    </div>

    <div class="">
        <h1>Bar Chart</h1>
        <canvas id="bar-chart"></canvas>
    </div>

    <div class="">
        <h1>doughnut Chart</h1>
        <canvas id="doughnut-chart"></canvas>
    </div>

    <div class="">
        <h1>polarArea Chart</h1>
        <canvas id="polarArea-chart"></canvas>
    </div>

    <div class="">
        <h1>radar Chart</h1>
        <canvas id="radar-chart"></canvas>
    </div>

</div>